.header2 a:nth-child(3) {
    background-color: #FF7361;
}

.section {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 115, 97, 255);
}

.section0 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section0 h2 {
    margin-right: 5px;
    margin-left: 5px;
}

.section0 a {
    text-decoration: none;
}

.section0 a:nth-child(1) {
    color: black;
}

.section0 a:nth-child(3) {
    color: white;
}




article {
    text-align: center;
    background-color: rgba(243, 243, 243, 255);
    padding: 10px;
}






.container{
    display: flex;
    flex-wrap: wrap;
}

.leftCon01{
    display: flex;
}
.leftCon2Img{
text-align: center;
}
.leftCon1,.leftCon2{
    padding: 50px;
}
.leftCon10{
    display: flex;
justify-content: space-between;
align-items: center;
    /* width: 8rem; */
}
.leftCon10 i{
    margin: 5px;
}
.leftCon10 p{
    margin: 5px;
    padding: 10px;
    width: 10rem;
}
.leftCon{
    width: 75%;
}
.rightCon{
    width: 20%;
    padding: 20px;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

ul {
  list-style: none;
}
ul li{
    /* margin: 5px; */
    padding: 5px;
    border-bottom: 1px dashed #ffcdc6;
}
ul li:last-child{
    border-bottom: none;
}
ul li::before {
    content: ">";
     color: #FF7361;
     margin-right: 5px;
     font-weight: bolder;
}
.rightCon input{
width: 100%;
}