* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.myBtnDir0 {
    position: absolute;
    right: 0;
}

.myBtnDir {
    position: sticky;
    top: 75vh;
}

.aBtnDir {
    text-decoration: none;
    color: #FF7361;
}

.aBtnDir i {
    font-size: xx-large;
    margin: 5px;
}

.aBtnDir i:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #FF7361;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ab4c3f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #873c30;
}

/* nav */

.nav {
    height: fit-content;
    background-color: rgba(47, 50, 57, 255);
    display: flex;
    justify-content: center;
}

.nav01 {
    width: 80%;
    display: flex;
    justify-content: end;
}

.nav a {
    color: #52565f;
    text-decoration: none;
    margin: 5px;
}

.nav a:hover {
    color: white;
}


/* header */
header {
    display: flex;
    justify-content: center;
    background-color: rgba(55, 59, 68, 255);
    color: white;
}

.header1 {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header2 {
    height: 100%;
    width: 40%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header2 a {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.header2 a:hover {
    background-color: rgba(255, 115, 97, 255);
}


/* footer */
.footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 70, 70, 255);
}

.footer a {
    margin: 10px;
    color: rgba(72, 72, 72, 255);
    background-color: white;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
}

.footer a:hover {
    background-color: rgb(185, 183, 183);
}